@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed');


html {
    background-color: #b2c2d1;
    
}

h2,h3{
    color:white !important;
}

.margin-right {
    margin-right: 10px;

}

.topAddress {
    max-width: 150px;
}

.font-style {
    font-weight: 400;
}

.invisibility {
    visibility: hidden;
}

.margin-top {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.will-margin {
    margin-left: 50px;
    margin-right: 50px;
}

.main {
    background-color: #b2c2d1;
}

.side-bar-color {
    background-color: #e2e8ee;
}